/* FLEXBOX LAYOUT*/

.flex-grid
  width: 100vw
  height: calc(100vh - (56px + 70px))
  display: flex
  flex-flow: column wrap
  justify-content: flex-start
  align-items: flex-start
  padding: 0 0 70px 0
  .flex-item
    opacity: 0
    animation: floatIn 1s forwards
    animation-delay: 0s
    animation-timing-function: cubic-bezier(0.25,0.8,0.25,1)
    z-index: 1
    width: 48%
    min-height: 40%
    margin: 1%
    &:nth-child(2)
      min-height: 50%
      animation-delay: 0.2s
    &:nth-child(3)
      min-height: 50%
      animation-delay: 0.3s
    &:nth-child(4)
      min-height: 40%
      animation-delay: 0.4s
    &:hover
      z-index: 2

@media only screen and (min-width: 480px)

@media only screen and (min-width: 481px)

@media only screen and (min-width: 769px)
  .flex-grid
    width: 50%
    height: calc(100vh - 120px)
    margin: auto
    .flex-item
      width: 48%
      min-height: 200px
      margin: 1%

@media only screen and (min-width: 961px)

@media only screen and (min-width: 1201px)

@keyframes floatIn
  0%
    transform: translateY(56px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1
