/* FLEXBOX LAYOUT*/

.flex-grid
  column-count: 2
  column-gap: 8px
  padding: 8px
  .flex-item
    opacity: 0
    animation: floatIn 1s forwards
    animation-delay: 0s
    animation-timing-function: cubic-bezier(0.25,0.8,0.25,1)
    z-index: 1
    display: inline-block
    width: 100%
    margin: 0 0 8px 0
    cursor: pointer
    &:nth-child(2)
      animation-delay: 0.2s
    &:nth-child(3)
      animation-delay: 0.3s
    &:nth-child(4)
      animation-delay: 0.4s
    &:nth-child(5)
      animation-delay: 0.5s
    &:nth-child(6)
      animation-delay: 0.6s
    &:nth-child(7)
      animation-delay: 0.7s
    &:nth-child(8)
      animation-delay: 0.8s
    &:nth-child(9)
      animation-delay: 0.9s
    &:nth-child(10)
      animation-delay: 1.0s
    &:nth-child(11)
      animation-delay: 1.1s
    &:nth-child(12)
      animation-delay: 1.2s
    &:nth-child(13)
      animation-delay: 1.3s
    &:nth-child(14)
      animation-delay: 1.4s
    &:nth-child(15)
      animation-delay: 1.5s
    &:nth-child(16)
      animation-delay: 1.6s
    &:nth-child(17)
      animation-delay: 1.7s
    &:nth-child(18)
      animation-delay: 1.8s
    &:nth-child(19)
      animation-delay: 1.9s
    &:nth-child(20)
      animation-delay: 2.0s
    &:hover
      z-index: 2

.card
  overflow: visible
  p
    background-image: linear-gradient(#525252, #b0b9c6)
    color: transparent !important
    background-clip: text
    -webkit-background-clip: text
    max-height: 200px
    overflow: hidden
  .card-header
    border-radius: 2px 2px 0 0
    position: relative
    h2
      float: left
      &::before
        position: relative
        top: -5px
        right: 10px
        float: right
        content: 'username'
        font-size: 12px
        opacity: 0.5
    p
      float: left
  .card-header.card-light
    h2
      color: #525252
      font-family: 'Roboto Mono', monospace
  .card-image
    width: 100%
    height: auto
    margin: 0
    padding: 0
  .card-footer
    border-radius: 0 0 2px 2px
    .button-flat
      color: $red500

@media only screen and (max-width: 320px)
  .flex-grid
    column-count: 1
  .card.card-hover-3
    &:hover
      box-shadow: none !important
    &:active
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important

@media only screen and (min-width: 481px)
  .flex-grid
    column-count: 2
    width: 100%
    margin: auto

@media only screen and (min-width: 769px)
  .flex-grid
    column-count: 3
    width: 768px

@media only screen and (min-width: 961px)

@media only screen and (min-width: 1201px)
  .flex-grid
    width: 960px

@keyframes floatIn
  0%
    transform: translateY(56px)
    opacity: 0
  100%
    transform: translateY(0)
    opacity: 1
