nav.navbar-dark
  background-color: $red500

.drawer
  .drawer-content
    .drawer-header.drawer-dark
      background-color: $red500
    .drawer-nav
      li
        color: $white
        a
          color: $white

nav.navbar
  position: fixed
  top: 0
  left: 0
  .navbar-cats
    position: fixed
    top: 56px
    right: auto
    bottom: auto
    left: 0
    width: 100%
    height: 56px
    z-index: 11
    background-color: transparent

    display: flex
    justify-content: space-around
    .button-cat
      cursor: pointer
      transition: all 0.2s
      width: 100%
      height: 100%
      border: none
      background-color: transparent
      color: $white

      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      span
        -webkit-transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1)
        -moz-transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1)
        transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1)
        font-size: 14px
        color: $red100
      &:active
        background-color: $transparentDark
    .button-cat.cat-active
      span
        color: $white
        font-weight: bold
    .cat-indicator
      -webkit-transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1)
      -moz-transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1)
      transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1)
      position: fixed
      top: calc(112px - 3px)
      right: auto
      bottom: auto
      left: auto
      width: 33.33%
      height: 3px
      background-color: $white

@media only screen and (max-width: 320px)

@media only screen and (min-width: 481px)

@media only screen and (min-width: 769px)
  nav.navbar
    .navbar-cats
      top: 60px
      left: 25%
      width: 50%
      height: 60px
      .button-cat
        &:hover
          background-color: $transparentDark
        &:active
          background-color: $transparentDarker
      .cat-indicator
        top: calc(120px - 3px)
        width: 16.66%

@media only screen and (min-width: 961px)

@media only screen and (min-width: 1201px)
