/*TEAL */
/*RED */
/*BLUE */
nav.navbar-dark {
  background-color: #f44336;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.drawer .drawer-content .drawer-header.drawer-dark {
  background-color: #f44336; }
.drawer .drawer-content .drawer-nav li {
  color: #ffffff; }
  .drawer .drawer-content .drawer-nav li a {
    color: #ffffff; }

nav.navbar {
  position: fixed;
  top: 0;
  left: 0; }
  nav.navbar .navbar-cats {
    position: fixed;
    top: 56px;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 56px;
    z-index: 11;
    background-color: transparent;
    display: flex;
    justify-content: space-around; }
    nav.navbar .navbar-cats .button-cat {
      cursor: pointer;
      transition: all 0.2s;
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      nav.navbar .navbar-cats .button-cat span {
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        font-size: 14px;
        color: #ffcdd2; }
      nav.navbar .navbar-cats .button-cat:active {
        background-color: rgba(0, 0, 0, 0.05); }
    nav.navbar .navbar-cats .button-cat.cat-active span {
      color: #ffffff !important;
      font-weight: bold; }
    nav.navbar .navbar-cats .cat-indicator {
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      position: fixed;
      top: calc(112px - 3px);
      right: auto;
      bottom: auto;
      left: auto;
      width: 33.33%;
      height: 3px;
      background-color: #ffffff; }

@media only screen and (min-width: 769px) {
  nav.navbar .navbar-cats {
    top: 60px;
    left: 25%;
    width: 50%;
    height: 60px; }
    nav.navbar .navbar-cats .button-cat:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    nav.navbar .navbar-cats .button-cat:active {
      background-color: rgba(0, 0, 0, 0.1); }
    nav.navbar .navbar-cats .cat-indicator {
      top: calc(120px - 3px);
      width: 16.66%; } }
/* FLEXBOX LAYOUT */
.flex-grid {
  column-count: 2;
  column-gap: 8px;
  padding: 8px; }
  .flex-grid .flex-item {
    opacity: 0;
    animation: floatIn 1s forwards;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1;
    display: inline-block;
    width: 100%;
    margin: 0 0 8px 0;
    cursor: pointer; }
    .flex-grid .flex-item:hover {
      z-index: 2; }

.card {
  overflow: visible; }
  .card p {
    background-image: linear-gradient(#525252, #b0b9c6);
    color: transparent !important;
    background-clip: text;
    -webkit-background-clip: text;
    max-height: 150px;
    overflow: hidden; }
  .card .card-header {
    border-radius: 2px 2px 0 0;
    position: relative; }
    .card .card-header h2 {
      float: left; }
      .card .card-header h2::before {
        position: relative;
        top: -5px;
        right: 10px;
        float: right;
        content: "username";
        font-size: 12px;
        opacity: 0.5; }
    .card .card-header p {
      float: left; }
  .card .card-header h2 {
    color: #525252;
    font-family: "Roboto Mono", monospace !important; }
  .card .card-image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; }
  .card .card-footer {
    border-radius: 0 0 2px 2px; }
    .card .card-footer .button-flat {
      color: #f44336; }

@media only screen and (max-width: 320px) {
  .flex-grid {
    column-count: 1; }

  .card.card-hover-3:hover {
    box-shadow: none !important; }
  .card.card-hover-3:active {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important; } }
@media only screen and (min-width: 481px) {
  .flex-grid {
    column-count: 2;
    width: 100%;
    margin: auto; } }
@media only screen and (min-width: 769px) {
  .flex-grid {
    column-count: 3;
    width: 768px; } }
@media only screen and (min-width: 1201px) {
  .flex-grid {
    width: 960px; } }
@keyframes floatIn {
  0% {
    transform: translateY(56px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
/* SECTION STYLES */
section.section-cat {
  width: 100vw;
  height: 100vh;
  padding: 112px 0 0 0; }

section.section-cat.cat-hide {
  display: none; }

.card-display {
  position: fixed;
  top: 56px;
  right: auto;
  bottom: auto;
  left: 0;
  width: 100%;
  height: calc(100vh - 56px);
  z-index: 14;
  background-color: #ffffff;
  box-shadow: none;
  transform: translateY(100%);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow-y: auto; }
  .card-display .card-header {
    min-height: 56px;
    width: 100%;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 13; }
    .card-display .card-header h2 {
      color: #ffffff;
      font-family: "Roboto Mono", sans-serif; }
  .card-display .header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.5;
    z-index: 12; }
  .card-display p {
    margin: calc(12px + 56px) 12px 12px 12px;
    padding: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px; }
  .card-display .card-image {
    width: 100%;
    height: auto; }
  .card-display .card-footer {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
  .card-display .button-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    border: 10px solid transparent;
    background-clip: padding-box;
    background-color: transparent;
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 15; }
    .card-display .button-close:active {
      background-color: rgba(0, 0, 0, 0.1); }
    .card-display .button-close i {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      color: #ffffff; }

.card-display.card-display-active {
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(0); }

@media only screen and (min-width: 481px) {
  .card-display {
    left: calc(50% - 240px);
    width: 480px; }

  .card-display.card-display-active {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 4px 4px 0 0; } }
@media only screen and (min-width: 769px) {
  section.section-cat {
    padding: 120px 0 0 0; }

  .card-display {
    left: calc(50% - 384px);
    width: 768px; }
    .card-display .button-close:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    .card-display .button-close:active {
      background-color: rgba(0, 0, 0, 0.1); } }
body {
  width: 100vw;
  overflow-x: hidden; }

/*# sourceMappingURL=master.css.map */
